// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/dts-v1/;

/* Bootloader installs ATF here */
/memreserve/ 0x80000000 0x200000;

#include <dt-bindings/input/linux-event-codes.h>
#include "en7523.dtsi"

/ {
	model = "TP-Link xx230v/xx530v v1";
	compatible = "airoha,en7523-xx230v-v1", "airoha,en7523";

	aliases {
		serial0 = &uart1;
	};

	chosen {
		bootargs = "console=ttyS0,115200 earlycon";
		stdout-path = "serial0:115200n8";
		linux,usable-memory-range = <0x80200000 0x1fe00000>;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x10000000>;
	};

	keys {
		compatible = "gpio-keys-polled";
		poll-interval = <100>;

		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&pinctrl 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
			debounce-interval = <60>;
		};
	};

	leds {
		compatible = "gpio-leds";

		// Power
		led@0 {
			label = "green:power";
			gpios = <&pinctrl 11 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		// xPON
		led@1 {
			label = "green:xpon";
			gpios = <&pinctrl 10 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		// internet
		led@3 {
			label = "green:inet";
			gpios = <&pinctrl 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		// Wireless
		led@4 {
			label = "green:wlan";
			gpios = <&pinctrl 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		// Phone
		led@5 {
			label = "green:phone";
			gpios = <&pinctrl 5 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		// LOS
		led@2 {
			label = "red:los";
			gpios = <&pinctrl 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};
};

&pinctrl {
	status = "okay";
};

&pcie1 {
	status = "okay";
};

&snfi {
	status = "okay";
};

&eth {
	status = "okay";
};

&gdm1 {
	status = "okay";
};

&spi_nand {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "u-boot";
			reg = <0x00000000 0x00100000>;
		};

		partition@100000 {
			label = "ubi";
			reg = <0x00100000 0x08000000>;
		};
	};
};
