# SPDX-License-Identifier: GPL-2.0-only

config PINCTRL_AIROHA
	depends on ARCH_AIROHA || ARCH_ECONET
	select PINCTRL_FULL
	select PINCTRL_GENERIC
	select PINMUX
	select PINCONF
	select REGMAP
	select SYSCON
	bool

config PINCTRL_AIROHA_EN751221
	bool "EcoNet EN751221 pin controller and gpio driver"
	depends on TARGET_EN751221
	select PINCTRL_AIROHA
	help
	  Enable pin multiplexing, pin configuration and GPIO support for
	  EcoNet EN7512/EN7521 family SoCs.

config PINCTRL_AIROHA_EN7528
	bool "EcoNet EN7528 pin controller and gpio driver"
	depends on TARGET_EN7528 || TARGET_EN751627
	select PINCTRL_AIROHA
	help
	  Enable pin multiplexing, pin configuration and GPIO support for
	  EcoNet EN7528 and compatible EN751627 family SoCs.

config PINCTRL_AIROHA_EN7523
	bool "Airoha EN7523 pin controller and gpio driver"
	depends on TARGET_EN7523
	select PINCTRL_AIROHA

config PINCTRL_AIROHA_AN7581
	bool "Airoha AN7581 pin controller and gpio driver"
	depends on TARGET_AN7581
	select PINCTRL_AIROHA

config PINCTRL_AIROHA_AN7583
	bool "Airoha AN7583 pin controller and gpio driver"
	depends on TARGET_AN7583
	select PINCTRL_AIROHA
